<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<p><%= @team_name %></p>
<p>Team Motto: <%= @team_motto %></p>
<p>Hero Name: <%= @hero_1_name %></p>
<p>Hero power: <%= @hero_1_power %></p>
<p>Hero biography: <%= @hero_1_bio %></p>
<p>Hero Name: <%= @hero_2_name %></p>
<p>Hero power: <%= @hero_2_power %></p>
<p>Hero biography: <%= @hero_2_bio %></p>
<p>Hero Name: <%= @hero_3_name %></p>
<p>Hero power: <%= @hero_3_power %></p>
<p>Hero biography: <%= @hero_3_bio %></p>

</body>
</html>


