<h1><%= @team[:name] %></h1>
<h3>Team Motto: <%= @team[:motto] %></h3>

<% @heros.each do |hero| %>
  
  <h3>Hero Name: <%= hero[:name] %></h3>
  <p>Hero power: <%= hero[:power] %></p>
  <p>Hero biography: <%= hero[:bio] %></p>

<% end %>
