<!DOCTYPE html>
<html>
  <body>
    <h1><%= @team.name %></h1>
    <h2>Team Motto: <%= @team.motto %></h1>

    <% @heroes.each do |hero| %>
      <h3>Hero Name: <%= hero.name %></h3>
      <p>Hero power: <%= hero.power %></p>
      <p>Hero biography: <%= hero.bio %></p>
    <% end %>

  </body>
</html>


