<h1><%= @team.name %></h1>
<br>
<h2>Team Motto: <%= @team.motto %></h2>
<br>
<h2>Hero Name: <%= Memeber.all[0].name %></h2>
<br>
<p>
  Hero power: <%= Memeber.all[0].power %>
</p>
<p>
  Hero biography: <%= Memeber.all[0].bio %>
</p>
<br>
<h2>Hero Name: <%= Memeber.all[1].name %></h2>
<br>
<p>
  Hero power: <%= Memeber.all[1].power %>
</p>
<p>
  Hero biography: <%= Memeber.all[1].bio %>
</p>
<br>
<h2>Hero Name: <%= Memeber.all[2].name %></h2>
<br>
<p>
  Hero power: <%= Memeber.all[2].power %>
</p>
<p>
  Hero biography: <%= Memeber.all[2].bio %>
</p>

<!-- <% Memeber.all.each do |m|%>
<p>
  Name:
  <%= m.name %>
</p>
<% end %> -->
<!-- <p>
  <%= Memeber.all[1].name%>
</p> -->
