<!DOCTYPE HTML>
<h1><%= @team.name %></h1>
<h2>Team Motto: <%= @team.motto %></h2>

<% @heros.each do |hero| %>
    <h2>Hero Name: <%= hero.name %></h2>
    <p>Hero power: <%= hero.power %></p>
    <p>Hero biography: <%= hero.bio %></p>
<% end %>

