<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Super Hero Team</title>
  </head>
  <body>
	<h1>Your Team</h1>
	<h5>Team Name: <%= @team.name %> </h5> 
	<h5>Team Motto: <%= @team.motto %> </h5> 
	<h2>Hero 1</h2>
	<h5>Hero Name: <%= @hero1.name %> </h5>
	<h5>Hero power: <%= @hero1.power %> </h5>
	<h5>Hero biography: <%= @hero1.bio %> </h5>
	<h2>Hero 2</h2>
	<h5>Hero Name: <%= @hero2.name %> </h5>
	<h5>Hero power: <%= @hero2.power %> </h5>
	<h5>Hero biography: <%= @hero2.bio %> </h5>
	<h2>Hero 3</h2>
	<h5>Hero Name: <%= @hero3.name %> </h5>
	<h5>Hero power: <%= @hero3.power %> </h5>
	<h5>Hero biography: <%= @hero3.bio %> </h5>
  </body>
</html>
